body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}


.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
}

.left-section {
width: 150px;
display: flex;
align-items: center;
}

.left-section .logo { 
font-size: 25px;
color:rgb(208, 86, 24);
font-weight: 900;
text-decoration: none;
cursor: pointer;
opacity: 1;
}

.left-section .logo:hover{
    color: rgb(208, 86, 24);
    opacity: 0.9;
}

.left-section .logo:active{
    color: rgb(208, 86, 24);
    opacity: 0.7;
}


.middle-section{
display: flex;
flex:1;
align-items: center;
justify-content: center;
gap: 50px;
margin-left: 10px;
margin-right: 10px;
}

.middle-section a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(208, 86, 24);
    opacity: 1  ;
    }

    .middle-section a:hover {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.9;
    }
    .middle-section a:active {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.7;

    }

.right-section {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
z-index: 100 ;
}

.right-section img {
    height: 16px;
    opacity: 1;
   
    
}

.right-section img:hover {
    opacity: 0.8;
}

.right-section img:active {
    opacity: 0.8;
}

.dark-mode {
    background-color: black;
    color: white;
  }









