/* navbar/header */

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.left-section {
    width: 150px;
    display: flex;
    align-items: center;
}

.left-section .logo { 
    font-size: 25px;
    color:rgb(208, 86, 24);
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.left-section .logo:hover{
    color: rgb(208, 86, 24);
    opacity: 0.9;
}

.left-section .logo:active{
    color: rgb(208, 86, 24);
    opacity: 0.7;
}

.middle-section{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.middle-section a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(208, 86, 24);
    opacity: 1  ;
    display: inline-block;

    }


    .middle-section a:hover {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.9;
    }
    .middle-section a:active {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.7;

    }

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    z-index: 100 ;
    position: relative;
}

.right-section i{
  margin-left: 10px;
  display: block;
 }


 @media (max-width: 600px){
  .right-section i{
    display: block;
  }

  .middle-section {
    display: none;
    border-top: 1px solid rgb(198, 63, 18) ;
    margin-top: 80px;
    position: fixed;
    left: 25px;
    width: 81%;
    z-index: 100;
  }

  .middle-section a{
    font-size: 22px;
    color: aliceblue;
    background-color: rgb(198, 63, 18) ;
    padding: 0 0 15px 7px;
    width: 100%;
  }


  .middle-section a:hover {
    color:white;
    opacity: 0.9;
}
.middle-section a:active {
    color:white;
    opacity: 0.7;

}

  
.middle-section.show{
  display: block;
}

  
 }

.dark-mode {
    background-color: black;
    color: white;
  }





  /* banner */

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 0 10%;

  }

  @media (max-width:600px) {
    .column-2 {
      
      
    }
    
  }

  .column-1 {
    align-items: start;
    margin-right: 10%;
  } 

    .name{
      color:rgb(208, 86, 24);
    }

    .job-position {
      font-size: 18px;
      margin-bottom: 25px;
      color: rgb(208, 86, 24);
    }

    .banner-buttons {
      display: flex;
      flex-direction: row;
      width: 150px;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .banner-buttons a{
      padding: 5px;
      text-decoration: none;
      background-color: rgb(208, 86, 24);
      color: white;
    }


    .banner-buttons a:hover{
      color: rgb(208, 86, 24);
      background-color: white;

    }


    .social-media-app  {

      height: 20px;
      display: flex;
      flex-direction: row;
      width: 60px;
      justify-content:first baseline;
      align-items: center;
      gap: 5px;
    }

    .social-media-app i {
      height: 16px;
    }


  .column-2 {
    width: 1000px;
  }

  .column-2 img {
    height: 90%;
    border-radius: 1000px;
    border: 2px solid rgb(208, 86, 24);
  }

 




