/* navbar/header */

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section .logo { 
    font-size: 24px;
    color:rgb(208, 86, 24);
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

    .left-section .logo:hover{
        color: rgb(208, 86, 24);
        opacity: 0.9;
    }

    .left-section .logo:active{
        color: rgb(208, 86, 24);
        opacity: 0.7;
    }

.middle-section{
    display: flex; 
    align-items: center;
    gap: 20px;
}

.middle-section a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(208, 86, 24);
    opacity: 1  ;
    display: inline-block;
    }

    .middle-section a:hover {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.9;
    }
    .middle-section a:active {
        text-decoration: underline;
        color:rgb(208, 86, 24);
        opacity: 0.7;

    }

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-section i{
  margin-left: 10px;
  cursor: pointer;
  display: none;
 }

 .right-section svg {
  cursor: pointer;
 }

/* Media query for header/banner mobile*/
 @media (max-width: 767px){
  .header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

  .right-section i{
    display: block;
  }

  .middle-section {
    display: none;
    margin-top: 57px;
    position: absolute;
    top:0;
    right: 50px;
    left: 245px;
    margin-top: 50px;
  }

  .middle-section a{
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    background-color: rgb(208, 86, 24);
    display: flex;
    justify-content: center;
  }
  .middle-section a:hover {
    color:white;
    opacity: 0.9;
}
.middle-section a:active {
    color:white;
    opacity: 0.7;
}

.middle-section.show{
  display: block;
}

.banner {
  flex-direction: column;
}

.column-1, .column-2 {
  order: initial; 
}

.column-1{
  margin-top: 15px;
}

.column-2 {
  order: -1;
  display: flex;
  justify-content: center;
}

 }


 @media (max-width: 768px) and (max-width:999px ){
  .header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  .banner {
    flex-direction: column;
  }

  .column-1, .column-2 {
    order: initial; 
  }
  
  .column-1{
    margin-top: 15px;
  }
  
  .column-2 {
    order: -1;
    display: flex;
    justify-content: center;
  }
}
  
  .dark-mode {
    background-color: black;
    color: white;
  }


  /* banner */
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    padding: 0 10%;

  }

  .column-1 {
    align-items: start;
    margin-right: 10%;
  } 

    .name{
      color:rgb(208, 86, 24);
    }

    .job-position {
      font-size: 18px;
      margin-bottom: 25px;
      color: rgb(208, 86, 24);
    }

    .banner-buttons {
      display: grid;
      grid-template-columns: 85px 85px;
      column-gap: 8px;
      padding: 10px 0 10px 0;
      
    }
    .banner-buttons a{
      padding: 8px 0 8px 0;
      text-decoration: none;
      display: flex;
      justify-content: center;
      background-color: rgb(208, 86, 24);
      color: white;
      border-radius: 10px;
      transition: 1s;
      box-sizing: border-box;
      border: 1px solid transparent;  
    }


    .banner-buttons a:hover{
      color: rgb(208, 86, 24);
      background-color: white;
      border-color: rgb(208, 86, 24);
    }
    .social-media-app  {
      height: 22px;
      display: flex;
      flex-direction: row;
      width: 60px;
      justify-content:first baseline;
      align-items: center;
      gap: 10px;
      margin-left: 3px;
    }

    .social-media-app a {
      height: 16px;
      text-decoration: none;
      color: inherit;
    }

    .social-media-app a i {
      color:inherit;
    }

  .column-2 img {
    height: 90%;
    width: 350px;
    border-radius: 1000px;
    border: 2px solid rgb(208, 86, 24);
  }






